{% extends "base.html" %}

{% block title %} View All Properties {% endblock %}

{% block main %}
<h1>Properties</h1>
{% if properties|length > 0 %}
    <div class="propertyImage">
        {% for proprty in properties %}
        <div class="group">
            <div class = "img">
                <img src="{{ url_for('get_image', filename = proprty.upload) }}"/>
            </div>

            <div class="info">
                <span class="title">{{ proprty.propertyTitle}}</span>
                <span class="cdate"><b>Property Added On: </b>{{ proprty.date_created }}</span>
                <span class="location"><i class="glyphicon glyphicon-map-marker"></i> {{proprty.location}}</span>
                <div class="price">
                    <span> ${{ proprty.price}}</span> <br/>
                </div>
                <br/>
                <a href="{{ url_for('get_property', propertyID = proprty.id) }}">
                    <span class="view">View Property</span>
                </a>
            </div>
        </div>
        {% endfor %}
        <br/>
    </div>
{% else %}
    <div class ="propertyimagemessage">
        <h4>No Properties Uploaded yet. Upload a Property to start viewing</h4>

    </div>

{% endif %}

{% endblock %}