{% extends "base.html" %}

{% block title %} View Property {% endblock %}

{% block main %}
{% if proprty != null %}
    <div class="singlepropertyimage">
        <div class = "singleimg">
            <img src="{{ url_for('get_image', filename = proprty.upload) }}"/>
        </div>
        <div class="singleinfo">
            <span class="singletitle"><h3>{{ proprty.propertyTitle}}</h3></span>
            <span class="singlecdate"><b>Property Added On: </b>{{ proprty.date_created }}</span>
            <div class="singlegroup">
                <span class="singleprice"> ${{ proprty.price}}</span>
                <span class="singletype">{{ proprty.type_}}</span>
            </div>
            <span class="singledesc"><b>Description: </b>{{ proprty.description }}</span>
            <div class="singlegroup2">
                <div>
                    <span class="singlroom"><i class="glyphicon glyphicon-bed"></i> {{ proprty.no_rooms}} Rooms</span>
                </div>
                <div>
                    </i><span class="singlbroom"><i class="glyphicon glyphicon-tint"></i> {{ proprty.no_bathrooms}} Bathrooms</span>
                </div>
            </div>
            <span class="singleloc"><i class="glyphicon glyphicon-map-marker"></i> {{proprty.location}}</span><br/>
            <div class="emdiv">
                <button class="embut">Email Realtor</button>
            </div>
            
        </div>
    </div>
        <br/>
{% else %}
    <div class ="singlepropertyimagemessage">
        <p>No Property Selected. Select a property to start viewing</p>
    </div>

{% endif %}

{% endblock %}